body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* NAVIGATION BAR (START) */
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.nav-container {
    display: flex;
    align-items: center;
}

.logo {
    width: 50px;
    height: auto;
    margin-right: 20px;
}

.menu-icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-icon span {
    width: 25px;
    height: 3px;
    background-color: #000;
    margin: 4px 0;
    transition: 0.4s;
}

.nav-links {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #e0e0e0;
}

/* Responsive */
@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 70px;
        left: 0;
        background-color: #f8f8f8;
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links li {
        margin: 10px 0;
        text-align: center;
    }

    .menu-icon {
        display: flex;
    }
}
/* NAVIGATION BAR (END) */


/*----------------------------------------------*/

.bottom-spacer { height: 100px;}
.bottom-spacer-small { height: 50px;}

  /*-------------------------------------------------------------------------*/

.image-section {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-section img {
    width: 430px;
    height: auto;
    border-radius: 10px;
}

.text-section {
    flex: 2;
    padding: 20px;
}

.text-section h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

.text-section p {
    margin-bottom: 15px;
    line-height: 1.6;
}

.text-section a {
    color: #589CFC;
    text-decoration: none;
}

.text-section a:hover {
    text-decoration: underline;
}

.social-icons {
    margin-top: 20px;
}

.social-icons a {
    margin-right: 10px;
    display: inline-block;
}

.social-icons img {
    width: 24px;
    height: 24px;
}

.footer {
    background-color: #ffffff;
    color: #000000;
    padding: 40px 0;
    text-decoration: none;
    box-shadow: 0 0 10px 0.01px rgba(0, 0, 0, 0.05);
}

.footer-container { 
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.footer-section {
    flex: 1;
    margin: 0 15px;
    min-width: 150px;
}

.footer-section h3 {
    margin-bottom: 20px;
}

.footer-section ul {
    list-style: none;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: #000000;
    text-decoration: none;
}

.footer-section ul li a:hover {
    text-decoration: underline;
}

.footer-section.social {
    text-align: center;
}

.social-icons {
    margin-bottom: 20px;
}

.social-icons a {
    color: #000000;
    text-decoration: none;
    margin: 0 10px;
    font-size: 18px;
}

.social-icons a:hover {
    color: #589CFC;
}

.footer-section p {
    margin: 5px 0;
}

.footer-section p a {
    color: #589CFC;
    text-decoration: none;
}

.footer-section p a:hover {
    text-decoration: underline;
}

/*--------------------------------------*/

/*---------------------------- RESUME PART ----------------------------*/
.resume-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.resume-container {
    text-align: center;
}

.download-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #589CFC;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.download-button:hover {
    background-color: rgb(37, 128, 255);
}
  /*------------------------------------------------------------------------*/

  /*-----------------------------------------------------------*/
.body2 {
    font-family: 'Circular Std', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    color: #000000;
}
.container9 {
    text-align: center;
    max-width: 700px;
    padding: 30px;
    border-radius: 30px;
    background: linear-gradient(to bottom, #fcfceb, #fdfdf5, hsl(124, 100%, 97%));
}

.container92 {
    text-align: center;
    max-width: 800px;
    padding: 12px;
    background: rgba(0, 0, 0, 0.04);
    border-radius: 28px;
    border: 1px solid #cccccc31;
}

.emoji9 {
    font-size: 48px;
}
h1 {
    font-size: 2.5em;
    margin: 20px 0;
}
.intro9 {
    background: #ffffff;
    padding: 30px;
    border-radius: 20px;
    display: inline-block;
    font-family: 'Circular Std', sans-serif;
}
.intro9 img {
    width: 200px;
    border-radius: 50%;
    margin-bottom: 10px;
    animation: float-img 2.5s ease-in-out infinite;
    border: 4px solid #ff740234;
}

@keyframes float-img{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-.70rem);
    }
    100%{
        transform: translateY(0);
    }
}

.intro9 p {
    margin: 10px 0;
    font-size: 1.2em;
    letter-spacing: 0.1em;
    line-height: 1.5;
}
.followers9 {
    font-size: 1em;
    color: #000000;
}
.wave9 {
    display: inline-block;
    margin-left: 5px;
}

a {
    text-decoration: none;
    color: #589CFC;
}

.introcomment {
    padding-left: 3.5%;
    padding-right: 3.5%;
    padding-top: 2%;
    padding-bottom: 1.5%;
}

.introcomment p {
    letter-spacing: 0.08em;
    line-height: 1.34;
}

/* ----------------------------------------------------------- */
.body3 {
    font-family: 'Circular Std', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f5f5f5;
}

.container10 {
    margin-top: 5%;
    text-align: center;
    max-width: 700px;
    padding: 30px;
    border-radius: 30px;
    background: linear-gradient(to bottom, #f2fceb, #eafaea, hsl(240, 60%, 98%));

}
.emoji10 {
    font-size: 48px;
    margin-bottom: 20px;
}
h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}
h3 {
    font-size: 1.8em;
    margin: 5px 0 25px;
}
.introcomment10 {
    padding: 2% 3.5%;
}
.licenter {
    list-style-type: none;
    padding: 20;
}
.licenter li {
    text-align: left;
    font-size: 1.2em;
    margin: 10px 0;
}

/* ---------------------------------------------------------------------- */


.container11 {
    text-align: center;
    max-width: 700px;
    padding: 30px;
    border-radius: 30px;
    background: linear-gradient(to bottom, #f4f4fc, #ecedfd, hsl(300, 100%, 99%));

}
.emoji11 {
    font-size: 48px;
    margin-bottom: 20px;
}
h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}
h3 {
    font-size: 1.8em;
    margin: 5px 0 25px;
}
.introcomment11 {
    padding: 2% 3.5%;
}
.licenter2 {
    list-style-type: none;
    padding: 20;
}
.licenter2 li {
    text-align: left;
    font-size: 1.2em;
    margin: 10px 0;
}