body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    line-height: 1.6;
    background-color: rgb(255, 255, 255);
}

/* NAVIGATION BAR (START) */
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.nav-container {
    display: flex;
    align-items: center;
}

.logo {
    width: 50px;
    height: auto;
    margin-right: 20px;
}

.nav-links {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #e0e0e0;
}
/* NAVIGATION BAR (END) */
/* -----------------------------CONTENT START----------------------------- */
.Versions-content-container {
    align-content: center;
    align-items: center;
    padding-top: 8%;
    padding-left: 5%;
    padding-right: 5%;
}

.Versions-content-box {
    align-content: center;
    align-items: center;
    padding: 1%;

}

.Versions-content-header {
    align-content: center;
    text-align: center;
    margin-bottom: 40px;
    flex: 1;
}

.Versions-content-header h1 {
    font-size: 350%;
    color: #000000;
}

.Versions-content p {
    padding-left: 15%;
    padding-right: 15%;
    color: #000000;
}