#chatbox {
    flex-direction: column;
  }
  
  #chatbox .title {
    display: flex;
    height: 32px;
    align-items: center;
    font-size: 1.5em;
    padding: 10px;
    border: 1px solid;
    margin: 10px;
  }
  
  #chatbox .chatboxbody {
    display: flex;
    flex: 1;
    height: 100%;
    overflow: hidden;
  }
  
  #chatbox .chatboxbody > #activechat {
    width: 200px;
    margin: 0 0 10px 10px;
    border: 1px solid;
    overflow: auto;
  }
  
  #chatbox .chatboxbody > #currentchat {
    flex: 1;
    margin: 0 10px 10px 10px;
    border: 1px solid;
    padding: 10px;
  }
  
  #activechat > DIV {
    display: flex;
    align-items: center;
    margin: 10px;
    border: 1px solid;
    padding: 10px;
    cursor: pointer;
  }
  
  #activechat > DIV.active {
    outline: 3px solid;
  }
  
  #activechat > DIV > IMG {
    width: 48px;
    height: 48px;
    object-fit: cover;
  }
  
  #activechat > DIV > DIV {
    font-size: 1.4em;
    margin-left: 10px;
  }
  
  .chatarea {
    width: 100%;
    flex: 1;
    border: 1px solid;
    margin: 0 10px 10px 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  
  div#currentchat {
    overflow: auto;
    height: 100%;
  }
  
  div#currentchat > DIV.mymsg {
    background-color: #fffec9;
    text-align: right;
    margin-left: 25%;
    margin-right: 0;
  }
  
  div#currentchat > DIV {
    border: 1px solid;
    padding: 5px 10px 20px 10px;
    margin-bottom: 10px;
    position: relative;
    border-radius: 10px;
    margin-right: 25%;
  }
  
  div#currentchat > DIV > DIV:first-child {
    font-weight: bold;
  }
  
  div#currentchat > DIV > DIV:last-child {
    position: absolute;
    right: 5px;
    bottom: 0px;
    font-size: 0.7em;
  }
  
  .chatinput > form {
    display: flex;
  }
  
  .chatinput input {
    flex: 1;
  }
  